<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'base.html' %}
    {% load static %}
    {% load socialaccount %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <title>Log In</title>
</head>
<body>
{% include 'navbar.html' %}
{% block content %}
<h2>Sign Up</h2>
    <form method="POST">{% csrf_token %}
        {{ form.as_p }}
    <button type="submit">Sign Up</button>
    </form>
{% endblock content %}

</body>
</html>