<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'base.html' %}
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include 'navbar.html' %}
{% block content %}
<table>
    <tr><td><h4>Order summary</h4></td></tr>
    <tr>
        <td>
        {% for item in order.get_cart_items %}
            <tr>
            <td>{{ item }}</td>
            <td>{{ item.product.price }}</td>
            </tr>
        {% endfor %}
        </td>
    </tr>
    <tr>
        <td>Order total:</td>
        <td>{{ order.get_cart_total }}</td>
    </tr>
</table>

<form method="post" action="{% url 'shopping_cart:process_payment' order.id %}">
    {% csrf_token %}
    <button>Pay with card</button>
</form>
{% endblock content %}

</body>
</html>