<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'base.html' %}
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include 'navbar.html' %}
{% block content %}
<table>
<tr>
    <th>Ref code</th>
    <th>Item</th>
    <th>Price</th>
</tr>
{% for item in order.get_cart_items %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>
            {{ item.product.title }}
            <a href="{% url 'shopping_cart:delete_item' item.id %}">Delete</a>
        </td>
        <td>{{ item.product.price }}</td>
    </tr>
{% empty %}
<tr>
    <td>You have not added any items yet.</td>
</tr>
{% endfor %}

<tr>
    {% if order.get_cart_total != None %}
    <td>Order total:</td>
    <td>{{ order.get_cart_total }}</td>
</tr>
{% endif %}

<tr>
    <td><a href="{% 'products:product_list' %}">
        {% if order %}Continue shopping{% else %}Add items to cart{% endif %}
    </a></td>
    <td>{% if order.get_cart_items %}
        <a href="{% url 'shopping_cart:checkout' %}">Proceed to checkout</a></td>
        {% endif %}
</tr>
</table>
{% endblock content %}

</body>
</html>