<!DOCTYPE html>
<html lang="en">
<head>
     {% extends 'base.html' %}
    {% load static %}

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% include 'navbar.html' %}
</body>
</html>