<!DOCTYPE html>
<!-- This base.html is the home page of the website where all items will be listed.
detail.html is where each item will be displayed in more depth.
-->

<html lang="en">
<head>
    {% load static %}
    {% load socialaccount %}
    <meta charset="UTF-8">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{% block title %}League Posters{% endblock title %}</title>
</head>
<body>
{% include 'navbar.html' %}

{% block content %}

{% block all_products %}

  <h1>User is: {{ request.user }} - Logged in: {{ request.user.is_authenticated }}</h1>
<div class="container-products">
        {% for poster_item in products %}

            <div class="flex-poster-item">
                <a href="{{ poster_item.get_absolute_url }}">
                    <img src="#" style="margin:10px;width:240px; height:240px;">
                <h1>{{ poster_item.title }}</h1>
                <br>
                    <p>{{ poster_item.description }}</p>
                    <p>Price: £{{ poster_item.price }}</p>
                </a>
            </div>

        {% endfor %}
</div>
    {% endblock all_products %}

{% endblock content %}

{% block footer %}
<footer>

</footer>
{% endblock footer %}

</body>
</html>
