<!DOCTYPE html>
<html lang="en">
<head>
    {% extends 'base.html' %}
    {% load static %}

    <meta charset="UTF-8">
    <title>{% block title %}
        {{ product.title }} | LoL Posters
        {% endblock title %}</title>
</head>
<body>
{% block content %}
<div style="display:flex; justify-content: center; flex-direction: column;">
    <img src="#" style="margin:10px;width:240px; height:240px;">
    <h1>{{ product.title }}</h1>
    <br>
    <p>{% if product.stock == 0 %}
        <p>This product is currently being re-stocked! You can still order this item for delivery asap or contact us
to find out when we will have it!</p>
        {% endif %}
    <p>{{ product.description }}</p>
    <p>Price: £{{ product.price }}</p>

    <a href="{% url 'shopping_cart:add_to_cart' product.id %}">Add to cart</a>
    <a href="{% url 'shopping_cart:order_summary' %}">Go to cart</a>
</div>
{% endblock content %}
</body>
</html>