<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}
    {% load socialaccount %}

    <meta charset="UTF-8">
    <title></title>
</head>
<body>

{% block navbar %}

<nav>

    <div class="nav-container">


        <li><a href="/">Home</a></li>
        <li><a href="/">Products</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        {% if user.is_authenticated %}
            <li><a href="{% url 'account_logout' %}">Log Out</a></li>
            <li><a href="#">My Cart</a></li>
        {% else %}
            <li><a href="{% url 'account_login' %}">Log In</a></li>
            <li><a href="{% url 'account_signup' %}">Sign up</a></li>
            <li><a href="{% provider_login_url 'google' %}">Gmail Log In</a></li>
        {% endif %}
    </div>
</nav>
{% endblock navbar %}

</body>
</html>