<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    {% load socialaccount %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <meta charset="UTF-8">
    <title>Log In</title>
</head>
<body>
{% include 'navbar.html' %}
{% block content %}
<h2>Log In</h2>
    <form class='login-form' method="POST">{% csrf_token %}
        {{ form.as_p }}
    <button type="submit">Log In</button>
    </form>

{% endblock content %}
</body>
</html>