* {
  margin: 0;
  padding: 0;
}
 /* navbar.html */
nav {
  background: #333;
  margin: 0 auto;
  width: 100%;
  height: 60px;
}

.nav-container {
  display: flex;

}
.nav-container li {
  list-style: none;
}
.nav-container li a {
  display: inline-flex;
  list-style: none;
  padding-left: 10px;
  text-decoration: none;
  color: white;
  line-height: 60px;
  font-size: 30px;
}

/*  flex container on base.html (for products)
*/

.container-products {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    }

.flex-poster-item {
    width: 300px;
}